$buttoncolor: #86cee1;
$hovercolor: #009fc4;

body, html {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #fff;
}
// #nav {
//   padding: 30px;
//   padding-top: 20px;
// }
.navlinks {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style-type: none;
  justify-content: space-around;
  padding-left: 0px;
  min-height: 120px;
}
.navlink {
  text-decoration: none;
  color: black;
  margin-top: 20px;
}
.title {
  font-family: 'Do Hyeon', sans-serif;
  font-size: 50px;
}
// #big-container {
//   text-align: center;
// }
// #map-container {
//   display: inline-block;
//   margin: auto;
//   width: 80%;
// }
#map {
  background-image: url(./img/map.png);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 720px;
  overflow: hidden;
  // display: flex;
  // flex-direction: row;
  // flex-wrap: wrap;
  // justify-content: flex-start;
}
.react-draggable {
  max-width: 300px;
}
.small-pin {
  position: absolute;
  display: inline-block;
  border-radius: 50px;
  max-width: 50px;
}
.small-pin img{
  display: block;
  max-width: 100%;
  height: auto;
  border-radius: 50px;
}
.pin-mover {
  cursor: pointer;
  margin-right: 5px;
}
// text over image adapted from https://codepen.io/rtro92/pen/VjzdPA
.pin{
  position: absolute;
  display: inline-block;
  max-width: 300px;
  background-color: #000000;
  box-shadow: 1px 1px 5px #999;
}
.pin img{
  display: block;
  max-width: 100%;
  height: auto;
}
.pin-text {
  position: absolute;
  height: 100%;
  text-align: center;
  width: 100%;
}
.pin-text:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}
.pin-text h4 {
  display: inline-block;
  font-size: 30px;
  color: #FFF;
}
.tint {
  opacity: 0.5;
}
#post-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 250px;
  padding-right: 250px;
}
#post-page img {
  max-width: 700px;
}
#post-title {
  font-size: 30px;
}
#tags {
  color: #839192;
  padding-top: 10px;
}
#input-area {
  display: flex;
  flex-direction: column;
  margin-left: 200px;
  margin-right: 200px;
}
.input {
  font-size: 14px;
  padding: 7px;
  color: black;
  margin-bottom: 10px;
  border: 1px solid palevioletred;
  border-radius: 3px;
}
.textarea {
  min-height: 100px;
  margin-bottom: 10px;
  resize: none;
}
.bottom-buttons {
  padding-top: 20px;
  padding-bottom: 50px;
}
.button {
  border: 1px solid palevioletred;
  border-radius: 3px;
  font-size: 14px;
  padding: 7px;
  color: black;
  border-color: $buttoncolor;
  background-color: $buttoncolor;
  min-width: 70px;
}
.small {
  width: 70px;
}
.margin-left {
  margin-left: 10px;
}
.button:hover {
  background-color: $hovercolor;
  border-color: $hovercolor;
  cursor: pointer;
}
.divider {
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
  max-width: 1000px;
  margin-top: 40px;
  margin-bottom: 30px;
}
